body{
    background-color: black;
    color: black;
}

.sound{
    margin: 5px 5px 0px 0px;
    text-align: center;
    float: left;
    width: 25%;
    border-radius: 15%;
}

.soundButton{
    border-radius: 15%;
    outline: none;
}

.soundButton:focus{
    outline: none;
}

.soundImage{
    width: 128px;
    height: 128px;
}

.container{
    margin: 20px auto;
    max-width: 600px;
}


